@import '~normalize.css/normalize.css';

body {
  background-image: url(./56r0egyn.bmp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
  background-attachment: fixed;
}
